html,body{
    max-width: 640px;
    margin: 0 auto;
    background: #ffc801;
}
.mask {
    display: none;
}
@media (orientation: landscape) {
    .mask {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        z-index: 9999;
        color: #fff;
        font-size: 50px;
    }
}